<% include templates/header.ejs %>
<div class="ui main text container segment">
<div class="ui huge header">New blog</div>
	
<!--form styling by SEMENTIC UI-->
	
<form action="/blogs" method="POST" class="ui form">
	<div class="field">
		<label>Title</label>
		<input type="text" name="name" placeholder="title" required>
	</div>
	<div class="field">
		<label>Image</label>
		<input type="text" name="image" placeholder="image" required>
	</div>
	<div class="field">
		<label>Blog</label>
		<textarea required name="description" placeholder="body"></textarea>
	</div>
	<input type="submit" class="ui basic big violet button">
</form>
	
</div>
<% include templates/footer.ejs %>